div.reddit-annihilator {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background: #1B1B1B;
	color: #F5F5F5;

	font-family: sans-serif;
	font-size: 10em;
	font-weight: 300;

	display: flex;
	align-items: center;
	justify-content: center;
}
